
body {
    font-family: 'Arial', sans-serif;
}
.main1 nav h4 {
    border: 2px solid black;
    padding: 10px;
}


.boxpart {
    border: 2px solid black;
    padding: 10px;
}
.container {
    margin-top: 20px;
}

.main1 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.boxpart {
    border: 1px solid black;
    padding: 0px;
    padding-left: 90px;
    margin-bottom: 35px;
    padding-right: 20px;
}
.medium-box {
    position: absolute;
    border: 1px solid black;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: px;
    bottom: 50px;
    left: 30px;
}
.medium-box {
    width: 115px;
    border: 1px solid black;
    height: 100px; 
    background-color: white;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
@media (max-width: 576px) {

    
}


